Cmune.DataCenter.Forum.Business/Web References/PhpBBSync/server.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://forum.uberstrike.com/webServices/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://forum.uberstrike.com/webServices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://forum.uberstrike.com/webServices/">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ws_clean_stringRequest">
    <wsdl:part name="text" type="xsd:string" />
    <wsdl:part name="secret_key" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="ws_clean_stringResponse">
    <wsdl:part name="clean_string" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="ws_clean_string_testRequest">
    <wsdl:part name="text" type="xsd:string" />
    <wsdl:part name="secret_key" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="ws_clean_string_testResponse">
    <wsdl:part name="clean_string_test" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="phpBBSyncPortType">
    <wsdl:operation name="ws_clean_string">
      <documentation>Return the a clean string (utf8_clean_string function of phpBB) if secret_key matches with the config</documentation>
      <wsdl:input message="tns:ws_clean_stringRequest" />
      <wsdl:output message="tns:ws_clean_stringResponse" />
    </wsdl:operation>
    <wsdl:operation name="ws_clean_string_test">
      <documentation>Return the a clean string (utf8_clean_string function of phpBB) if secret_key matches with the config</documentation>
      <wsdl:input message="tns:ws_clean_string_testRequest" />
      <wsdl:output message="tns:ws_clean_string_testResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="phpBBSyncBinding" type="tns:phpBBSyncPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="ws_clean_string">
      <soap:operation soapAction="http://forum.uberstrike.com/webServices/#ws_clean_string" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://forum.uberstrike.com/webServices/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://forum.uberstrike.com/webServices/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_clean_string_test">
      <soap:operation soapAction="http://forum.uberstrike.com/webServices/#ws_clean_string_test" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://forum.uberstrike.com/webServices/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://forum.uberstrike.com/webServices/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="phpBBSync">
    <wsdl:port name="phpBBSyncPort" binding="tns:phpBBSyncBinding">
      <soap:address location="http://forum.uberstrike.com/webServices/server.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>